<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrayerPartner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0931C0DA1C75982D00AD6266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0931C0F31C75982E00AD6266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0931C0FE1C75982E00AD6266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
